<div class="article">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>This is the title for the story it can get kinda big if we want it to eh.</h1>
				<div class="article-meta">
					Posted in <a href="#">Design</a> by John Smith
				</div>
				<img src="/img/article1.jpg" width="600" height="335" alt="image 1" class="border">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur ligula finibus, suscipit ligula id, tristique tellus. Nullam pellentesque  magna eu ligula fringilla suscipit. Curabitur et erat ut leo auctor feugiat. Cras pretium non libero eu vehicula. Phasellus at aliquam sapien, a vehicula libero. Vivamus a tortor magna. Aliquam condimentum nisi et odio convallis, fermentum vehicula ipsum cursus. Sed semper efficitur ex, vitae sollicitudin tortor. In auctor ante ac diam luctus, nec cursus massa scelerisque. Phasellus nec posuere diam, nec finibus enim</p>
				<p>Quisque luctus eget orci nec feugiat. Nam elit eros, sollicitudin ut finibus sed, efficitur non enim. Quisque non nunc vitae sem ultricies congue. Morbi at eros mi. Ut quis rhoncus nisl, a luctus metus. Aliquam scelerisque eget enim id posuere. Cras vehicula sem ligula, at dictum orci tincidunt vel. Pellentesque enim tortor, sodales sed tempor a, hendrerit et nisi. Nam efficitur egestas consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				<p>Mauris turpis justo, maximus sit amet felis eu, interdum aliquet mauris. Nunc vel mi ac leo iaculis scelerisque. Ut nulla libero, venenatis sed mauris eu, aliquam molestie enim. Nam porta quis dolor non bibendum. Vivamus vitae augue porta, vulputate enim in, auctor lorem. In elementum urna massa, nec scelerisque orci molestie facilisis. Mauris blandit tortor vel lacus maximus, eu accumsan mauris dapibus. Mauris eu rutrum magna. Donec eu bibendum ex. Sed laoreet leo in nisi gravida, non mattis purus condimentum. Integer vulputate a metus in porttitor. Aliquam maximus, lorem a vestibulum accumsan, odio lorem aliquam lacus, eu lacinia magna purus vitae tortor. Curabitur ante nisl, feugiat at euismod vel, dignissim a libero. Aenean eget tortor faucibus eros rhoncus elementum.</p>
				<img src="/img/article2.jpg" width="600" height="466" alt="image 2" class="border">
				<p>Quisque luctus eget orci nec feugiat. Nam elit eros, sollicitudin ut finibus sed, efficitur non enim. Quisque non nunc vitae sem ultricies congue. Morbi at eros mi. Ut quis rhoncus nisl, a luctus metus. Aliquam scelerisque eget enim id posuere. Cras vehicula sem ligula, at dictum orci tincidunt vel. Pellentesque enim tortor, sodales sed tempor a, hendrerit et nisi. Nam efficitur egestas consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				<p>Mauris turpis justo, maximus sit amet felis eu, interdum aliquet mauris. Nunc vel mi ac leo iaculis scelerisque. Ut nulla libero, venenatis sed mauris eu, aliquam molestie enim. Nam porta quis dolor non bibendum. Vivamus vitae augue porta, vulputate enim in, auctor lorem. In elementum urna massa, nec scelerisque orci molestie facilisis. Mauris blandit tortor vel lacus maximus, eu accumsan mauris dapibus. Mauris eu rutrum magna. Donec eu bibendum ex. Sed laoreet leo in nisi gravida, non mattis purus condimentum. Integer vulputate a metus in porttitor. Aliquam maximus, lorem a vestibulum accumsan, odio lorem aliquam lacus, eu lacinia magna purus vitae tortor. Curabitur ante nisl, feugiat at euismod vel, dignissim a libero. Aenean eget tortor faucibus eros rhoncus elementum.</p>
				<div class="center">
					<button id="comment-trigger" class="btn btn-primary">Load Comments</button>
				</div>
				<div id="comment-container">
					<div id="disqus_thread"></div>
						<script type="text/javascript">
						    /* * * CONFIGURATION VARIABLES * * */
						    var disqus_shortname = 'bootstrapblueprints';
						    
						    /* * * DON'T EDIT BELOW THIS LINE * * */
						    (function() {
						        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						    })();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
				</div>
			</div>
		</div>
	</div>
</div>
