<div class="well">
	<h5>Trends</h5>
	<div>
		<p><a href="#">#Trend1</a></p>
		<p><small>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</small></p>
	</div>
	<div>
		<p><a href="#">#Trend1</a></p>
		<p><small>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</small></p>
	</div>
	<div>
		<p><a href="#">#Trend1</a></p>
		<p><small>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</small></p>
	</div>
	<div>
		<p><a href="#">#Trend1</a></p>
		<p><small>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</small></p>
	</div>
</div>
<div class="well">
	<h5>Linkage</h5>
	<ul class="list-unstyled">
		<li><a href="#">About</a></li>
		<li><a href="#">Help</a></li>
		<li><a href="#">Terms</a></li>
		<li><a href="#">Privacy</a></li>
		<li><a href="#">Ads</a></li>
		<li><a href="#">Apps</a></li>
		<li><a href="#">Jobs</a></li>
		<li><a href="#">Advertise</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</div>