<div class="container">
  <div class="page-title">
    <div class="row">
      <div class="col-lg-6">
        <h1><img src="http://fillmurray.com/36/36" width="36" height="36" alt="Avatar"> John Smith</h1>
      </div>
      <div class="col-lg-6 add-content">
        <ul class="list-inline pull-right">
          <li>
            <button type="button" class="btn btn-default">Edit</button>
          </li>
          <li>
            <button type="button" class="btn btn-primary">+ Add Content</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-lg-8">
        <div class="feed">
          <div class="post">
            <h3>Bio</h3>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <p><a href="#">23 contributions</a> to Bootstrap wiki.</p>
            <p><small>Profile page has been viewed 1,454 times.</small></p>
          </div>
          <div class="post">
            <h3>Favorite Pages</h3>
            <p><small>John Smith has favorited 11 pages.</small></p>
            <ul class="list-unstyled">
              <li><a href="#">Page name goes here</a></li>
              <li><a href="#">Page name goes here</a></li>
              <li><a href="#">Page name goes here</a></li>
              <li><a href="#">Page name goes here</a></li>
              <li><a href="#">Page name goes here</a></li>
              <li><a href="#">Page name goes here</a></li>
              <li><a href="#">Page name goes here</a></li>
              <li><a href="#">Page name goes here</a></li>
              <li><a href="#">Page name goes here</a></li>
              <li><a href="#">Page name goes here</a></li>
              <li><a href="#">Page name goes here</a></li>
            </ul>
          </div>
          <div class="social-media">
            <h3>Social Media</h3>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fa fa-github-square"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
            </ul>
          </div>
        </div><!-- feed end //-->
      </div>
      <!-- sidebar //-->
      <%- partial("partial/_sidebar") %>
    </div>
  </div>
</div>