<div class="container">
  <div class="page-title">
    <div class="row">
      <div class="col-lg-6">
        <h1>Search Results</h1>
      </div>
      <div class="col-lg-6 add-content">
        <ul class="list-inline pull-right">
          <li>
            <button type="button" class="btn btn-primary">+ Add Content</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-lg-8">
        <div class="feed">
          <div class="post-meta">
            <p>
              <small>About 2,003 results found in 0.45 seconds</small>
            </p>
          </div>
          <div class="post">
            <h3><i class="fa fa-heart"></i> <a href="#">Page name goes here</a></h3>
            <p><small>http://bootstrapwiki.com/path/to/page/here</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra. <a href="#">More</a></p>
          </div>
          <div class="post">
            <h3><i class="fa fa-heart"></i> <a href="#">Page name goes here</a></h3>
            <p><small>http://bootstrapwiki.com/path/to/page/here</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra. <a href="#">More</a></p>
          </div>
          <div class="post">
            <h3><i class="fa fa-heart"></i> <a href="#">Page name goes here</a></h3>
            <p><small>http://bootstrapwiki.com/path/to/page/here</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra. <a href="#">More</a></p>
          </div>
          <div class="post">
            <h3><i class="fa fa-heart"></i> <a href="#">Page name goes here</a></h3>
            <p><small>http://bootstrapwiki.com/path/to/page/here</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra. <a href="#">More</a></p>
          </div>
          <div class="post">
            <h3><i class="fa fa-heart"></i> <a href="#">Page name goes here</a></h3>
            <p><small>http://bootstrapwiki.com/path/to/page/here</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra. <a href="#">More</a></p>
          </div>
          <div class="post">
            <h3><i class="fa fa-heart"></i> <a href="#">Page name goes here</a></h3>
            <p><small>http://bootstrapwiki.com/path/to/page/here</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra. <a href="#">More</a></p>
          </div>
          <div class="post">
            <h3><i class="fa fa-heart"></i> <a href="#">Page name goes here</a></h3>
            <p><small>http://bootstrapwiki.com/path/to/page/here</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra. <a href="#">More</a></p>
          </div>
          <div class="post">
            <h3><i class="fa fa-heart"></i> <a href="#">Page name goes here</a></h3>
            <p><small>http://bootstrapwiki.com/path/to/page/here</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra. <a href="#">More</a></p>
          </div>
          <div class="post">
            <h3><i class="fa fa-heart"></i> <a href="#">Page name goes here</a></h3>
            <p><small>http://bootstrapwiki.com/path/to/page/here</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra. <a href="#">More</a></p>
          </div>
          <div class="feed-pagination">
            <button class="btn btn-primary" type="button">Next Page</button>
          </div>

        </div><!-- feed end //-->
      </div>
      <!-- sidebar //-->
      <%- partial("partial/_sidebar-search") %>
    </div>
  </div>
</div>