<div class="container-fluid">
  <div class="row">
  	<!-- left side //-->
    <div class="col-lg-3">
    	<div class="sidebar-left">
	      <%- partial("partial/_sidebar-left-home") %>
	    </div>
    </div>
    <!-- content //-->
    <div class="col-lg-6">
    	<div class="content-feed">
    		<!-- post //-->
    		<div class="well">
    			<div class="row">
    				<div class="col-lg-2">
		    			<p><img src="img/avatar1.jpg" width="70" height="70" class="avatar"></p>
		    		</div>
	    			<div class="col-lg-10">
	    				<h3><a href="#">Mike Michaels</a></h3>
	    				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	    				<div class="feed-meta">
		    				<ul class="list-inline">
		    					<li>About 3 minutes ago</li>
		    					<li><a href="#"><i class="fa fa-reply"></i> Reply</a></li>
		    					<li><a href="#"><i class="fa fa-heart"></i> Like</a></li>
		    				</ul>
		    			</div>
	    			</div>
	    		</div>
    		</div>
    		<!-- post //-->
    		<div class="well">
    			<div class="row">
    				<div class="col-lg-2">
		    			<p><img src="img/avatar2.jpg" width="70" height="70" class="avatar"></p>
		    		</div>
	    			<div class="col-lg-10">
	    				<h3><a href="#">John Smith</a></h3>
	    				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	    				<div class="feed-meta">
		    				<ul class="list-inline">
		    					<li>About 3 minutes ago</li>
		    					<li><a href="#"><i class="fa fa-reply"></i> Reply</a></li>
		    					<li><a href="#"><i class="fa fa-heart"></i> Like</a></li>
		    				</ul>
		    			</div>
	    			</div>
	    		</div>
    		</div>
    		<!-- post //-->
    		<div class="well">
    			<div class="row">
    				<div class="col-lg-2">
		    			<p><img src="img/avatar3.jpg" width="70" height="70" class="avatar"></p>
		    		</div>
	    			<div class="col-lg-10">
	    				<h3><a href="#">Chris Christopher</a></h3>
	    				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	    				<div class="feed-meta">
		    				<ul class="list-inline">
		    					<li>About 3 minutes ago</li>
		    					<li><a href="#"><i class="fa fa-reply"></i> Reply</a></li>
		    					<li><a href="#"><i class="fa fa-heart"></i> Like</a></li>
		    				</ul>
		    			</div>
	    			</div>
	    		</div>
    		</div>
    		<!-- post //-->
    		<div class="well">
    			<div class="row">
    				<div class="col-lg-2">
		    			<p><img src="img/avatar4.jpg" width="70" height="70" class="avatar"></p>
		    		</div>
	    			<div class="col-lg-10">
	    				<h3><a href="#">Matt Matthews</a></h3>
	    				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	    				<div class="feed-meta">
		    				<ul class="list-inline">
		    					<li>About 3 minutes ago</li>
		    					<li><a href="#"><i class="fa fa-reply"></i> Reply</a></li>
		    					<li><a href="#"><i class="fa fa-heart"></i> Like</a></li>
		    				</ul>
		    			</div>
	    			</div>
	    		</div>
    		</div>
    		<!-- post //-->
    		<div class="well">
    			<div class="row">
    				<div class="col-lg-2">
		    			<p><img src="img/avatar5.jpg" width="70" height="70" class="avatar"></p>
		    		</div>
	    			<div class="col-lg-10">
	    				<h3><a href="#">John Johnson</a></h3>
	    				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	    				<div class="feed-meta">
		    				<ul class="list-inline">
		    					<li>About 3 minutes ago</li>
		    					<li><a href="#"><i class="fa fa-reply"></i> Reply</a></li>
		    					<li><a href="#"><i class="fa fa-heart"></i> Like</a></li>
		    				</ul>
		    			</div>
	    			</div>
	    		</div>
    		</div>
    		<div class="center">
    			<p><button class="btn btn-primary">Load More Posts</button></p>
    		</div>
    	</div>
    </div>
    <!-- right side //-->
    <div class="col-lg-3">
    	<div class="sidebar-right">
	    	<%- partial("partial/_sidebar-right") %>
	    </div>
    </div>
  </div>
</div>