<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-8">
    	<div class="feed">
    		<div class="well">
    			<h4>Aggregate your feeds with Agger.</h4>
    		</div>
    		<div class="row">
    			<div class="col-lg-12">
    				<div class="post">
    					<h4><a href="#">Link Title Here</a> <small>(url.com/goes/here)</small></h4>
    					<p><small>Posted 5 hours ago on <a href="#">Facebook</a></small></p>
    				</div>
    				<div class="post">
    					<h4><a href="#">Link Title Here Longer</a> <small>(url.com/goes/here)</small></h4>
    					<p><small>Posted 5 hours ago on <a href="#">Twitter</a></small></p>
    				</div>
    				<div class="post">
    					<h4><a href="#">Link Title Here Much Longer</a> <small>(url.com/goes/here)</small></h4>
    					<p><small>Posted 5 hours ago on <a href="#">Pintrest</a></small></p>
    				</div>
    				<div class="post">
    					<h4><a href="#">Link Title Here And Stuff</a> <small>(url.com/goes/here)</small></h4>
    					<p><small>Posted 5 hours ago on <a href="#">Linkedin</a></small></p>
    				</div>
    				<div class="post">
    					<h4><a href="#">Link Title Here Like Really Long One</a> <small>(url.com/goes/here)</small></h4>
    					<p><small>Posted 5 hours ago on <a href="#">Facebook</a></small></p>
    				</div>
    				<div class="post">
    					<h4><a href="#">Link Title Here For Days</a> <small>(url.com/goes/here)</small></h4>
    					<p><small>Posted 5 hours ago on <a href="#">Twitter</a></small></p>
    				</div>
    				<div class="post">
    					<h4><a href="#">Link Title Here All-Time Longest Title</a> <small>(url.com/goes/here)</small></h4>
    					<p><small>Posted 5 hours ago on <a href="#">Pintrest</a></small></p>
    				</div>
    				<div class="post">
    					<h4><a href="#">Link Title Here</a> <small>(url.com/goes/here)</small></h4>
    					<p><small>Posted 5 hours ago on <a href="#">Linkedin</a></small></p>
    				</div>
    			</div>
    		</div>
    		<!-- nav //-->
    		<div class="row">
    			<div class="col-lg-6 col-xs-6">
    				<div class="feed-pages">
    					<small>Page 1 of 21</small>
    				</div>
    			</div>
    			<div class="col-lg-6 col-xs-6q">
    				<div class="feed-nav pull-right">
    					<button class="btn btn-primary">Next</button>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- right //-->
    <div class="col-xs-12 col-lg-3 col-lg-offset-1">
    	<h4>Channels</h4>
    	<div class="checkbox">
		    <label>
		      <input type="checkbox" checked> Facebook
		    </label>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" checked> Twitter
		    </label>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" checked> Pintrest
		    </label>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" checked> Linkedin
		    </label>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Google+
		    </label>
		  </div>
		  <hr />
		  <h4>Filters</h4>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" checked> Comments
		    </label>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Recent Comments
		    </label>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Top Posts
		    </label>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Recent Posts
		    </label>
		  </div>
		  <hr />
		  <p><a href="#">RSS Feed</a></p>
    </div>
  </div>
</div>

<!-- modals //-->

<!-- about modal //-->
<div class="modal fade" id="about-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8">
            <p><img src="http://fillmurray.com/400/300"></p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- contact modal //-->
<div class="modal fade" id="contact-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Contact</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <form>
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" rows="10"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- login modal //-->
<div class="modal fade" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <form>
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control">
              </div>
              <p><small><a href="#">Forgot Password?</a></small></p>
              <button type="submit" class="btn btn-default">Sign Up</button>
            </form>
            <p>If you don't have an account, you can <a href="#">Register Here</a>.</p>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->