<!-- footer //-->
<div class="footer-languages">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
					<li><strong>Language:</strong></li>
					<li><a href="#">English</a></li>
					<li><a href="#">French</a></li>
					<li><a href="#">German</a></li>
					<li><a href="#">Italian</a></li>
					<li><a href="#">Spanish</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
					<li><a href="#">RSS</a></li>
					<li><a href="#">Terms &amp; Conditions</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li>Copyright 2015 Bootstrap Wiki</li>
				</ul>
			</div>
		</div>
	</div>
</div>