<div class="col-lg-4">
  <div class="sidebar">
    <h5>Categories</h5>
    <ul class="list-unstyled">
      <li><a href="#">Arts</a></li>
      <li><a href="#">Cars</a></li>
      <li><a href="#">Computers</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Family</a></li>
      <li><a href="#">Finance</a></li>
      <li><a href="#">Food</a></li>
      <li><a href="#">Health</a></li>
      <li><a href="#">Hobbies</a></li>
      <li><a href="#">Holidays</a></li>
      <li><a href="#">Home &amp; Garden</a></li>
      <li><a href="#">Pets</a></li>
      <li><a href="#">Philosophy</a></li>
      <li><a href="#">Relationships</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Technology</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Work</a></li>
    </ul>
  </div>
</div>