<div class="col-lg-4">
  <div class="sidebar">
    <h5>Related Searches</h5>
    <ul class="list-unstyled">
      <li><a href="#"><strong>Keyword</strong> something</a></li>
      <li><a href="#"><strong>Keyword</strong> something else</a></li>
      <li><a href="#"><strong>Keyword</strong> maybe this</a></li>
    </ul>
    <hr>
    <h5>Related Tags</h5>
    <ul class="list-unstyled">
      <li><a href="#">Tag 01</a></li>
      <li><a href="#">Tag 02</a></li>
      <li><a href="#">Tag 03</a></li>
      <li><a href="#">Tag 04</a></li>
      <li><a href="#">Tag 05</a></li>
    </ul>
    <hr>
    <h5>Related Topics</h5>
    <ul class="list-unstyled">
      <li><a href="#">Topic 01</a></li>
      <li><a href="#">Topic 02</a></li>
      <li><a href="#">Topic 03</a></li>
      <li><a href="#">Topic 04</a></li>
      <li><a href="#">Topic 05</a></li>
    </ul>
  </div>
</div>