<footer>
	<div class="footer-top">
		<div class="row">
			<div class="col-lg-2">
				<h5>Categories</h5>
				<ul class="list-unstyled">
					<li><a href="#">Art</a></li>
					<li><a href="#">Design</a></li>
					<li><a href="#">Illustration</a></li>
					<li><a href="#">Painting</a></li>
					<li><a href="#">Web</a></li>
					<li><a href="#">Street Art</a></li>
					<li><a href="#">Mixed Media</a></li>
				</ul>
			</div>
			<div class="col-lg-2">
				<h5>Help &amp; Support</h5>
				<ul class="list-unstyled">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Contact Support</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Advertise</a></li>
					<li><a href="#">Meetups</a></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<h5>Newsletter</h5>
				<p>Sign up for the Bootmag email list to keep up to date on all the latest news.</p>
				<form>
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</form>
			</div>
			<div class="col-lg-4 col-lg-offset-1 advertisement">
				<h5>Advertisement</h5>
				<div class="well">
					ad
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="row">
			<div class="col-lg-6">
				Copyright 2015 Bootmag
			</div>
			<div class="col-lg-6">
				<div class="social-media">
          <div><a href="#"><i class="fa fa-facebook-official"></i></a></div>
          <div><a href="#"><i class="fa fa-twitter-square"></i></a></div>
          <div><a href="#"><i class="fa fa-github-square"></i></a></div>
          <div><a href="#"><i class="fa fa-linkedin-square"></i></a></div>
          <div><a href="#"><i class="fa fa-google-plus-square"></i></a></div>
          <div><a href="#"><i class="fa fa-pinterest-square"></i></a></div>
        </div>
      </div>
		</div>
	</div>
</footer>

